/* font-family: 'Nunito', sans-serif;
font-family: 'Rubik', sans-serif; */
:root {
    --day: #93cdf1;
    --cloudy: #b0cbdc;
    --stormy: #7d9cae;
    --night: #224a68;
    --sun: #ffe135;
    --moon: #deda8e;
    --gray: #abc1d4;
    --UVhiAF: #680168;
    --UVwayhi: #a20000;
    --UVhi: #e19509;
    --UVmod: #e0e005;
    --UVlo: #146814;
}


* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.jumbotron {
    font-family: 'Rubik', sans-serif;
    background-color: var(--gray);
    border-bottom: solid black 1px;
    background-image: linear-gradient(to right, var(--stormy), var(--gray), var(--stormy))
}

#searchBtn {
    background-color: var(--night);
    color: white
}

body {
    margin: -1rem
}

.container {
    margin: 0rem
}

/* Recent searches header */
.container h5 {
    text-align: center;
    margin-top: -2rem;
    padding: 1rem;
    border-bottom: solid black 2px;
    background-color: var(--stormy);
    font-weight: bold;
}

/* recent searches row where buttons will be added */
#recentSearches {
    justify-content: center;
}

/* buttons for recent searches */
.myBtn {
    padding: 0.5rem 1rem;
    margin: 1rem 2rem;
    border-radius: 5px;
    border: solid black 1px;
    background-color: var(--gray);
}

/* forecast header */
.banner {
    font-size: xx-large;
    background-color: var(--gray);
    margin:0;
    padding: 0.5rem;
    text-align: center;
    border-top: solid black 1px;
}

.current {
    margin: 1rem;
}

/* headers within the weather cards. */
#cityCard,
#date {
    text-align: center;
}

/* weather cards */
.mycard {
    border:solid black 1px;
    border-radius: 5px;
    margin: 1rem;
}

/* centers daily weather */
.day-container{
    justify-content: center;
}

.day {
    background-color: var(--day);
}